<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<div class="all-updates">
  % for index, update in enumerate(updates):
    <article class="updates-article">
      % if not update.get("is_error"):
        <div class="date" id="msg-date-${index}">${update.get("date")}</div>
      % endif
        <div class="article-content" id="msg-content-${index}">
          ${update.get("content")}
        </div>
      % if (index < len(updates) - 1):
        <div class="end-line"></div>
      % endif
    </article>
  % endfor
</div>

